#set( $layout = "layout/null.vm" )

<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Matrix Admin</title><meta charset="UTF-8" />
		<base href="${hostTool.basePath}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
		<link rel="stylesheet" href="resources/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="resources/css/matrix-login.css" />
        <link href="resources/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="loginbox">            
            <form id="loginform" method="post" action="login" method="post">
				 <div class="control-group normal_text"> <h3><img src="resources/img/logo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="用户名" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="密码" />
                        </div>
                    </div>
                </div>
				<div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="text" placeholder="验证码" style="width:150px;" />
							<a href="javascript:;">
								<img title="点击刷新" id="captchaImg" style="vertical-align: middle;"/>
							</a>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码?</a></span>
                    <span class="pull-right"><a type="submit" href="index.html" class="btn btn-success" /> 登录</a></span>
                </div>
            </form>
            <form id="recoverform" action="#" class="form-vertical">
				<p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
				
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                        </div>
                    </div>
               
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                    <span class="pull-right"><a class="btn btn-info"/>Reecover</a></span>
                </div>
            </form>
        </div>
        
        <script src="resources/js/jquery.min.js"></script>  
        <script src="resources/js/matrix.login.js"></script> 
		<script type="text/javascript">
			$(function(){
				var captchaUrl = "#springUrl('/captcha/captcha.jpg')";
				$("#captchaImg").click(function(){
    				$(this).attr("src",captchaUrl+"?"+Math.random());
    			});	
				$("#captchaImg").attr("src",captchaUrl+"?"+Math.random())
			});
    	</script>
    </body>
</html>
