/* WRITE YOUR CSS CODE HERE */
.myselect {padding:3px; width: 219px; font-size:12px;}
.myselect option {padding:3px;}
.crumby {margin-top: 0px; font-size: 12px;background: #eaeaea; padding:5px;padding-left:10px; border:1px #ccc solid;}
.crumby a {cursor: pointer; text-decoration: none;}
.merchant_list_op {cursor:pointer;text-decoration: none;padding-right:5px}