<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pentagon.system.dao.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.pentagon.system.dao.model.Resource" >
    <id column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="resource_group_id" property="resourceGroupId" jdbcType="BIGINT" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resource_id, resource_name, resource_group_id, uri
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pentagon.system.dao.model.ResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset > -1" >
      limit ${offset},${rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resource
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pentagon.system.dao.model.ResourceExample" >
    delete from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pentagon.system.dao.model.Resource" >
    <selectKey resultType="java.lang.Long" keyProperty="resourceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resource (resource_name, resource_group_id, uri
      )
    values (#{resourceName,jdbcType=VARCHAR}, #{resourceGroupId,jdbcType=BIGINT}, #{uri,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pentagon.system.dao.model.Resource" >
    <selectKey resultType="java.lang.Long" keyProperty="resourceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="resourceGroupId != null" >
        resource_group_id,
      </if>
      <if test="uri != null" >
        uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceGroupId != null" >
        #{resourceGroupId,jdbcType=BIGINT},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pentagon.system.dao.model.ResourceExample" resultType="java.lang.Integer" >
    select count(*) from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resource
    <set >
      <if test="record.resourceId != null" >
        resource_id = #{record.resourceId,jdbcType=BIGINT},
      </if>
      <if test="record.resourceName != null" >
        resource_name = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceGroupId != null" >
        resource_group_id = #{record.resourceGroupId,jdbcType=BIGINT},
      </if>
      <if test="record.uri != null" >
        uri = #{record.uri,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resource
    set resource_id = #{record.resourceId,jdbcType=BIGINT},
      resource_name = #{record.resourceName,jdbcType=VARCHAR},
      resource_group_id = #{record.resourceGroupId,jdbcType=BIGINT},
      uri = #{record.uri,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pentagon.system.dao.model.Resource" >
    update resource
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceGroupId != null" >
        resource_group_id = #{resourceGroupId,jdbcType=BIGINT},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pentagon.system.dao.model.Resource" >
    update resource
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_group_id = #{resourceGroupId,jdbcType=BIGINT},
      uri = #{uri,jdbcType=VARCHAR}
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </update>
</mapper>