<hr class="noscreen" />
<!-- Footer -->
<div id="footer" class="box">
	<p class="f-left">&copy; 2013 <a href="#">上海欧翎信息技术有限公司</a>, All Rights Reserved &reg;</p>
	<p class="f-right" style="margin-right:40px;">数字电子商务专家</p>
</div>
  <!-- /footer -->
